<h1 class="font-bold text-xl mb-8">Events</h1>

<div class="mb-6 flex gap-4">
  <%= link_to 'Previous', events_path(page: @page - 1) if @page > 1 %>
  <%= link_to 'Next', events_path(page: @page + 1) if @page < @max_page %>
</div>

<div class="space-y-4">
  <%= render partial: 'event', collection: @events %>
</div>
