<div class="flex items-center gap-x-3 h-9">

  <% if session[:editing].include?(customer.id) %>
    <%= render "form", customer: %>
  <% else %>
    <div>
      <%= customer.name %>
    </div>

    <div class="text-xs flex gap-x-2">
      <%= link_to "Edit", customers_path({ edit: customer.id }), class: "text-blue-600" %>
      <%= button_to "Delete", customer_path(customer), method: :delete, form: { data: { turbo_frame: "_top" } }, class: "text-red-600" %>
    </div>
  <% end %>
</div>
