<div class="flex items-center gap-x-3 mb-2">
  <h1 class="text-xl font-bold">Customers</h1>
  <%= link_to "Create", new_customer_path, class: "text-xs text-blue-600" %>
</div>

<div class="space-y-2">
  <%= render @customers %>
</div>
